<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="email"
    matInput
    [formControl]="formControl"
    placeholder="Type something here"
    (keypress)="onPromptKeyPress($event)">
    <mat-error *ngIf="!formControl.hasError('required')">
      Please enter a prompt!
    </mat-error>
    <mat-error *ngIf="formControl.hasError('required')">
      Prompt is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>

<div class="container">
  {{ result }}
</div>

